
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (WebSiteBanHang.Models.User)Session[WebSiteBanHang.Commons.sessionLogin.USER_SESSION];
}
@section Styles{
    <link rel="stylesheet" href="~/Assets/Css/account_style.css">  
}

<main class="wrapperMain_content">
    <nav class="bread-crumb clearfix">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li><strong><span>Thay đổi mật khẩu</span></strong></li>
            </ul>
        </div>
    </nav>

    <section class="signup page_customer_account wrap_background">
        <div class="container">
            <div class="row">

                @Html.Partial("AcountSidebar")

                <div class="col-xs-12 col-sm-12 col-lg-9 col-right-ac">
                    <h1 class="title-head margin-top-0">Đổi mật khẩu</h1>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="page-login">
                                @using (Html.BeginForm("ChangePassword", "TaiKhoan", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                {

                                    <input name="FormType" type="hidden" value="change_customer_password"><input name="utf8" type="hidden" value="true">

                                    if (ViewBag.error == 1)
                                    {
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    }
                                    else if (TempData["SuccessMessage"] != null)
                                    {
                                        <p class="text-success">
                                            @TempData["SuccessMessage"]
                                        </p>
                                    }
                                    else
                                    {
                                        <p>Để đảm bảo tính bảo mật bạn vui lòng đặt lại mật khẩu với ít nhất 8 kí tự</p>
                                    }



                                    <div class="form-signup clearfix row">
                                        <fieldset class="form-group col-12">
                                            <label for="oldPass">Mật khẩu cũ <span class="error">*</span></label>
                                            <input type="password" name="oldPassword" id="oldPassword" required="" class="form-control form-control-lg">
                                        </fieldset>
                                        <fieldset class="form-group col-12">
                                            <label for="changePass">Mật khẩu mới <span class="error">*</span></label>
                                            <input type="password" name="newPassword" id="newPassword" required="" class="form-control form-control-lg">
                                        </fieldset>
                                        <fieldset class="form-group col-12">
                                            <label for="confirmPass">Xác nhận lại mật khẩu <span class="error">*</span></label>
                                            <input type="password" name="cfnewPassword" id="cfnewPassword" required="" class="form-control form-control-lg">
                                        </fieldset>
                                    </div>
                                    <button class="button-default" type="submit" onclick="window.location.reload()"><i class="hoverButton"></i>Đặt lại mật khẩu</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            resetForms();
        });
    </script>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script>


