
@{
    ViewBag.Title = "Siro Ong Nâu Mom And Baby";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Assets/Css/product_style.css">
    <link rel="stylesheet" href="~/Assets/Css/style.css">
}
<script>
        $(function () {
            $("#addToCart").click(function () {
                var model = {
                  productId: @Model.id,
                  quantity: $("#qty").val()
                };
                debugger;
                $.ajax({
                    url: '@Url.Action("AddToCart", "GioHang")',
                    type: "POST",
                    data: JSON.stringify(model),
                    dataType: "Json",
                    contentType: "application/Json; charset=utf-8",
                    success: function (response) {
                          alert("Thêm giỏ hàng thành công!");
                            if (response.Count != null) {
                                $("#CartCount").text(response.Count);
                            }else {
                                $("#CartCount").text(response.CountUser);
                            }

                    },
                    error: function () {
                        alert("Lỗi khi thêm vào giỏ hàng!")
                    }
                });
                return false;
            });
        });
</script>
<main class="wrapperMain_content">

    <nav class="bread-crumb clearfix">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li><strong><span>Siro Ong Nâu Mom And Baby</span></strong></li>
                <li>
                </li>
            </ul>
        </div>
    </nav>
    <section class="product details-main" itemscope="" itemtype="https://schema.org/Product">
        <meta itemprop="category" content="">
        <meta itemprop="url" content="//template-honey-bee.mysapo.net/siro-ong-nau-mom-and-baby">
        <meta itemprop="name" content="Siro Ong Nâu Mom And Baby">
        <meta itemprop="image" content="http://bizweb.dktcdn.net/thumb/grande/100/472/304/products/e0f40f3d72fd47309395556c6a45ba87.png?v=1669696303357">
        <meta itemprop="description" content="
Giúp bổ phổi, ích phế &amp; tiêu đàm.
Trị ho khan, ho có đàm, ho do dị ứng thời tiết, ho lâu ngày không khỏi, ho kèm co thắt cơ trơn khí quản.
Sát trùng họng, chống viêm họng, khản tiếng.
Hỗ trợ điều trị viêm phế quản.">
        <div class="d-none hidden" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <div class="inventory_quantity hidden" itemscope="" itemtype="http://schema.org/ItemAvailability">
                <span class="a-stock" itemprop="supersededBy">
                    Còn hàng
                </span>
            </div>
            <link itemprop="availability" href="http://schema.org/InStock">
            <meta itemprop="priceCurrency" content="VND">
            <meta itemprop="price" content="40000">
            <meta itemprop="url" content="https://template-honey-bee.mysapo.net/siro-ong-nau-mom-and-baby">
            <span itemprop="UnitPriceSpecification" itemscope="" itemtype="https://schema.org/Downpayment">
                <meta itemprop="priceType" content="40000">
            </span>
            <span itemprop="UnitPriceSpecification" itemscope="" itemtype="https://schema.org/Downpayment">
                <meta itemprop="priceSpecification" content="60000">
            </span>
            <meta itemprop="priceValidUntil" content="2099-01-01">
        </div>
        <div class="d-none hidden" id="https://template-honey-bee.mysapo.net" itemprop="seller" itemtype="http://schema.org/Organization" itemscope="">
            <meta itemprop="name" content="Template Honey Bee">
            <meta itemprop="url" content="https://template-honey-bee.mysapo.net">
            <meta itemprop="logo" content="http://bizweb.dktcdn.net/100/472/304/themes/887048/assets/logo.png?1684115584822">
        </div>
        <div class="container">
            <div class="row">
                <div class="product-detail-left product-images col-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="product-image-detail clearfix">

                        <div class="col_large_default large-image">
                            <div class="swiper-container gallery-top margin-bottom-10 swiper-container-initialized swiper-container-horizontal swiper-container-free-mode">
                                <div class="swiper-wrapper" id="lightgallery" aria-live="polite">

                                    <a class="swiper-slide swiper-slide-active" data-hash="0" href="//bizweb.dktcdn.net/thumb/1024x1024/100/472/304/products/e0f40f3d72fd47309395556c6a45ba87.png?v=1669696303357" title="Bấm vào để xem thư viện ảnh Siro Ong Nâu Mom And Baby" role="group" aria-label="1 / 3" style="width: 530px; margin-right: 10px;">
                                        <img src="//bizweb.dktcdn.net/thumb/large/100/472/304/products/e0f40f3d72fd47309395556c6a45ba87.png?v=1669696303357" alt="Siro Ong Nâu Mom And Baby" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/e0f40f3d72fd47309395556c6a45ba87.png?v=1669696303357" class="img-responsive mx-auto d-block swiper-lazy lazyload swiper-lazy-loaded loading" data-was-processed="true">
                                    </a>

                                    <a class="swiper-slide swiper-slide-next" data-hash="1" href="//bizweb.dktcdn.net/thumb/1024x1024/100/472/304/products/0c82a5f48b2a478fa92b75d32a30b557.png?v=1669696304410" title="Bấm vào để xem thư viện ảnh Siro Ong Nâu Mom And Baby" role="group" aria-label="2 / 3" style="width: 530px; margin-right: 10px;">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="//bizweb.dktcdn.net/thumb/large/100/472/304/products/0c82a5f48b2a478fa92b75d32a30b557.png?v=1669696304410" alt="Siro Ong Nâu Mom And Baby" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/0c82a5f48b2a478fa92b75d32a30b557.png?v=1669696304410" class="img-responsive mx-auto d-block swiper-lazy lazyload">
                                    </a>

                                    <a class="swiper-slide" data-hash="2" href="//bizweb.dktcdn.net/thumb/1024x1024/100/472/304/products/336d6163b5e04a3194ffb690cbe96bff.png?v=1669696304943" title="Bấm vào để xem thư viện ảnh Siro Ong Nâu Mom And Baby" role="group" aria-label="3 / 3" style="width: 530px; margin-right: 10px;">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="//bizweb.dktcdn.net/thumb/large/100/472/304/products/336d6163b5e04a3194ffb690cbe96bff.png?v=1669696304943" alt="Siro Ong Nâu Mom And Baby" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/336d6163b5e04a3194ffb690cbe96bff.png?v=1669696304943" class="img-responsive mx-auto d-block swiper-lazy lazyload">
                                    </a>

                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>

                        <div class="thumb_product_details clearfix">
                            <div class="swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
                                <div class="swiper-wrapper" id="swiper-wrapper-bd7f248591003f2c5" aria-live="polite">

                                    <div class="swiper-slide swiper-slide-active swiper-slide-thumb-active" data-hash="0" role="group" aria-label="1 / 3" style="width: 71.4px; margin-right: 30px;">
                                        <img src="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/e0f40f3d72fd47309395556c6a45ba87.png?v=1669696303357" alt="Siro Ong Nâu Mom And Baby" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/e0f40f3d72fd47309395556c6a45ba87.png?v=1669696303357" class="swiper-lazy swiper-lazy-loaded">

                                    </div>

                                    <div class="swiper-slide swiper-slide-next" data-hash="1" role="group" aria-label="2 / 3" style="width: 71.4px; margin-right: 30px;">
                                        <img src="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/0c82a5f48b2a478fa92b75d32a30b557.png?v=1669696304410" alt="Siro Ong Nâu Mom And Baby" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/0c82a5f48b2a478fa92b75d32a30b557.png?v=1669696304410" class="swiper-lazy swiper-lazy-loaded">

                                    </div>

                                    <div class="swiper-slide" data-hash="2" role="group" aria-label="3 / 3" style="width: 71.4px; margin-right: 30px;">
                                        <img src="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/336d6163b5e04a3194ffb690cbe96bff.png?v=1669696304943" alt="Siro Ong Nâu Mom And Baby" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/336d6163b5e04a3194ffb690cbe96bff.png?v=1669696304943" class="swiper-lazy swiper-lazy-loaded">

                                    </div>

                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                            <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-bd7f248591003f2c5" aria-disabled="true"><svg class="icon"> <use xlink:href="#previcon"></use> </svg></div>
                            <div class="swiper-button-next swiper-button-disabled" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-bd7f248591003f2c5" aria-disabled="true"><svg class="icon"> <use xlink:href="#nexticon"></use> </svg></div>
                        </div>


                    </div>

                </div>
                <div class="col-12 col-md-12 col-lg-6 col-xl-6 details-pro">
                    <div class="box_details_product">
                        <h1 class="title-product">Siro Ong Nâu Mom And Baby</h1>
                        <div class="group-status hidden">
                            <div class="first_status status_2">
                                Tình trạng:

                                <div class="inventory_quantity">

                                    <span class="a-stock status_name a2"><link itemprop="availability" href="http://schema.org/InStock">Còn hàng</span>

                                </div>
                            </div>
                        </div>

                        <div class="price-box clearfix">

                            <span class="old-price">
                                <del class="price product-price-old">
                                    60.000₫
                                </del>
                            </span> <!-- Giá gốc -->
                            <span class="special-price">
                                <span class="price product-price">40.000₫</span>
                            </span> <!-- Giá Khuyến mại -->
                            <span class="save-price">
                                <span class="price product-price-save">-20.000₫</span>
                            </span> <!-- Tiết kiệm -->

                        </div>
                        <div class="product-summary">

                            <ul>
                                <li>Giúp bổ phổi, ích phế &amp; tiêu đàm.</li>
                                <li>Trị ho khan, ho có đàm, ho do dị ứng thời tiết, ho lâu ngày không khỏi, ho kèm co thắt cơ trơn khí quản.</li>
                                <li>
                                    Sát trùng họng, chống viêm ...

                                </li>
                            </ul>
                        </div>

                        <div class="service-product">





                            <div class="item">
                                <div class="icon">
                                    <img src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/icon_service_product_1.svg?1684115584822" alt="Giao hàng toàn quốc">
                                </div>
                                <div class="info">
                                    <h3>
                                        Giao hàng toàn quốc
                                    </h3>
                                </div>
                            </div>






                            <div class="item">
                                <div class="icon">
                                    <img src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/icon_service_product_2.svg?1684115584822" alt="Thanh toán khi nhận hàng">
                                </div>
                                <div class="info">
                                    <h3>
                                        Thanh toán khi nhận hàng
                                    </h3>
                                </div>
                            </div>






                            <div class="item">
                                <div class="icon">
                                    <img src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/icon_service_product_3.svg?1684115584822" alt="Cam kết đổi trả hàng miễn phí">
                                </div>
                                <div class="info">
                                    <h3>
                                        Cam kết đổi trả hàng miễn phí
                                    </h3>
                                </div>
                            </div>






                            <div class="item">
                                <div class="icon">
                                    <img src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/icon_service_product_4.svg?1684115584822" alt="Cam kết chính hãng">
                                </div>
                                <div class="info">
                                    <h3>
                                        Cam kết chính hãng
                                    </h3>
                                </div>
                            </div>


                        </div>

                        <form enctype="multipart/form-data" id="add-to-cart-form" data-cart-form="" action="/cart/add" method="post" class="wishItem">
                            <div class="form-product">

                                <div class="box-variant clearfix  d-none ">

                                    <input type="hidden" id="one_variant" name="variantId" value="76944230">

                                </div>
                                <div class="clearfix from-action-addcart ">
                                    <div class="clearfix custom-btn-number ">
                                        <label>Số lượng:</label>
                                        <div class="custom custom-btn-numbers clearfix input_number_product">
                                            <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" class="btn-minus btn-cts" type="button">–</button>
                                            <input aria-label="Số lượng" type="text" class="qty input-text" id="qty" name="quantity" size="4" value="1" maxlength="3" onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" onchange="if(this.value == 0)this.value=1;">
                                            <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN(qty)) result.value++;return false;" class="btn-plus btn-cts" type="button">+</button>
                                        </div>
                                        <div class="vd">



                                            <span class="vend_c">Còn hàng</span>



                                        </div>
                                    </div>
                                    <div class="btn-mua clearfix">
                                        <button type="button" data-role="addtocart" class="btn btn-lg btn-gray btn-cart btn_buy add_to_cart" id="addToCart">
                                            <span class="text_1">Cho vào giỏ hàng</span>
                                        </button>
                                        <button type="button" class="btn_buynow btn_base btn-buy-now">
                                            <span class="text_1">Mua ngay</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12">
                    <div class="product-tab e-tabs not-dqtab">
                        <ul class="tabs tabs-title clearfix">
                            <li class="tab-link current" data-tab="tab-1">
                                <span>Mô tả </span>
                            </li>
                            <li class="tab-link" data-tab="tab-2">
                                <span>Tab tùy chỉnh</span>
                            </li>
                        </ul>
                        <div id="tab-1" class="tab-content content_extab current">
                            <div class="rte product_getcontent">
                                <h2><span style="color:#000000;">1.&nbsp;Mô tả sản phẩm Ong Nâu Mom And Baby</span></h2>
                                <p>Siro Ong Nâu Mom and Baby 100% thảo dược thiên nhiên giúp bổ phổi ích phế, long đờm. Hỗ trợ các triệu chứng ho, rát họng, khản tiếng.</p>
                                <h2><span style="color:#000000;">2.&nbsp;Thành phần của Ong Nâu Mom And Baby</span></h2>
                                <p>
                                    Cho 100ml:<br>
                                    Thiên môn đông 18g<br>
                                    Bách bộ 18g<br>
                                    Kinh giới 18g<br>
                                    Xuyên bối mẫu 18g<br>
                                    Tang bạch bì 18g<br>
                                    Cát căn 12g<br>
                                    Tô diệp 12g<br>
                                    Trần bì 9g<br>
                                    Sa sâm 9g<br>
                                    Cát cánh 9g<br>
                                    Cam thảo 5g<br>
                                    Cao lá thường xuân khô 690mg<br>
                                    Phụ liệu: đường, nước vừa đủ 100ml.
                                </p>
                                <h2><span style="color:#000000;">3.&nbsp;Công dụng của Ong Nâu Mom And Baby</span></h2>
                                <p>
                                    - Giúp bổ phổi, ích phế &amp; tiêu đàm.<br>
                                    - Trị ho khan, ho có đàm, ho do dị ứng thời tiết, ho lâu ngày không khỏi, ho kèm co thắt cơ trơn khí quản.<br>
                                    - Sát trùng họng, chống viêm họng, khản tiếng.<br>
                                    - Hỗ trợ điều trị viêm phế quản.
                                </p>
                                <h2><span style="color:#000000;">4.&nbsp;Liều lượng và cách dùng của Ong Nâu Mom And Baby</span></h2>
                                <p>
                                    - Trẻ em từ 2-6 tuổi: uống 5ml, 2-3 lần/ngày.<br>
                                    - Người lớn và trẻ trên 6 tuổi: 5 - 10ml, 2-3 lần/ngày.<br>
                                    - Trẻ dưới 2 tuổi: tham khảo ý kiến bác sĩ, dược sĩ.<br>
                                    * Lắc đều trước khi dùng. Khi uống ngậm từ 1-2 phút sau đó nuốt từ từ để tăng hiệu quả giảm đau họng.
                                </p>
                                <h2><span style="color:#000000;">5.&nbsp;Đối tượng sử dụng</span></h2>
                                <p>
                                    -Người bị ho khan, ho có đàm, ho dai dẳng, ho do thay đổi thời tiết.<br>
                                    - Người bị viêm họng, khản tiếng, đau họng.<br>
                                    - Người bị viêm phế quản mãn tính hay bị co thắt phế quản (hen suyễn).
                                </p>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-content content_extab">
                            <div class="rte">

                                Đây là tab tuỳ chỉnh

                            </div>
                        </div>
                    </div>
                    <div class="section-related-product">




                        <div class="section_prd_feature">
                            <div class="title_module_main">
                                <h2 class="h2">
                                    <a href="/" title="Sản phẩm liên quan">Sản phẩm liên quan</a>
                                </h2>
                            </div>

                            <div class="alert alert-warning alert-dismissible section" style="margin-top:15px" role="alert">
                                Không có sản phẩm nào tương tự
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>>

