
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Assets/Css/blog_style.css">
    <link rel="stylesheet" href="~/Assets/Css/collections_style.css">
    <link rel="stylesheet" href="~/Assets/Css/sidebar_style.css">
}
<main class="wrapperMain_content">
    <nav class="bread-crumb clearfix">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li><strong><span>Tin tức</span></strong></li>
            </ul>
        </div>
    </nav>
    <section class="blogpage clearfix wrap_background">
        <div class="container" itemscope="" itemtype="https://schema.org/Blog">
            <meta itemprop="name" content="Tin tức">
            <meta itemprop="description" content="">
            <div class="row">
                <div class=" col-lg-9 col-md-12 col-12 left-content">
                    <h1 class="title_page">Tin tức</h1>
                    <section class="list-blogs blog-main listmain_blog clearfix">
                        <div class="row">
                            <div class="col-md-6 col-12 col-lg-6 col-xl-4">
                                <article class="item_blog_base clearfix">
                                    <a class="thumb" href="/mat-ong-rung-va-mat-ong-nuoi-loai-nao-tot-hon" title="Mật ong rừng và mật ong nuôi loại nào tốt hơn?">
                                        <img src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-7.jpg?v=1669711748507" data-src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-7.jpg?v=1669711748507" alt="Mật ong rừng và mật ong nuôi loại nào tốt hơn?" class="lazyload img-responsive loaded">
                                    </a>
                                    <div class="content_blog clearfix">
                                        <span class="post-time">
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                        <h3>
                                            <a href="/mat-ong-rung-va-mat-ong-nuoi-loai-nao-tot-hon" title="Mật ong rừng và mật ong nuôi loại nào tốt hơn?">Mật ong rừng và mật ong nuôi loại nào tốt hơn?</a>
                                        </h3>
                                        <div class="summary_blog">
                                            Mật ong rừng được lấy từ những tổ ong sống dã sinh trong rừng. Khi lấy mật, người ta sẽ phá luôn tổ ong. Mật ong nuôi được thu hoạch từ những thùng...
                                        </div>
                                    </div>
                                </article>
                            </div>

                            <div class="col-md-6 col-12 col-lg-6 col-xl-4">
                                <article class="item_blog_base clearfix">
                                    <a class="thumb" href="/tac-dung-cua-mat-ong-chin-doi-voi-suc-khoe" title="Tác dụng đến ko ngờ của mật ong chín đối với sức khỏe">
                                        <img src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-12.jpg?v=1669711557603" data-src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-12.jpg?v=1669711557603" alt="Tác dụng đến ko ngờ của mật ong chín đối với sức khỏe" class="lazyload img-responsive loaded">
                                    </a>
                                    <div class="content_blog clearfix">
                                        <span class="post-time">
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                        <h3>
                                            <a href="/tac-dung-cua-mat-ong-chin-doi-voi-suc-khoe" title="Tác dụng đến ko ngờ của mật ong chín đối với sức khỏe">Tác dụng đến ko ngờ của mật ong chín đối với sức khỏe</a>
                                        </h3>

                                        <div class="summary_blog">
                                            Giàu vi chất dinh dưỡng
                                            Một thìa mật ong chín (21 gam) chứa 64 calo và 17 gam đường. Bao gồm fructose, glucose, maltose và sucrose. Mật ong chín hầ...
                                        </div>

                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-12 col-lg-6 col-xl-4">
                                <article class="item_blog_base clearfix">
                                    <a class="thumb" href="/cong-dung-va-huong-dan-dung-mat-ong-dung-cach" title="Công dụng và hướng dẫn dùng mật ong đúng cách">
                                        <img src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper.jpg?v=1669709493977" data-src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper.jpg?v=1669709493977" alt="Công dụng và hướng dẫn dùng mật ong đúng cách" class="lazyload img-responsive loaded">
                                    </a>
                                    <div class="content_blog clearfix">
                                        <span class="post-time">
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                        <h3>
                                            <a href="/cong-dung-va-huong-dan-dung-mat-ong-dung-cach" title="Công dụng và hướng dẫn dùng mật ong đúng cách">Công dụng và hướng dẫn dùng mật ong đúng cách</a>
                                        </h3>

                                        <div class="summary_blog">
                                            1. Những điều cần biết về mật ong&nbsp;
                                            Mật ong là một chất lỏng ngọt ngào được tạo ra bởi những con ong sử dụng mật hoa từ hoa, có khoảng 320 loại...
                                        </div>

                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-12 col-lg-6 col-xl-4">
                                <article class="item_blog_base clearfix">
                                    <a class="thumb" href="/nhung-ai-nen-dung-mat-ong-thuong-xuyen" title="Những ai thì nên dùng mật ong thường xuyên?">
                                        <img src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-13.jpg?v=1669712533677" data-src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-13.jpg?v=1669712533677" alt="Những ai thì nên dùng mật ong thường xuyên?" class="lazyload img-responsive loaded">
                                    </a>
                                    <div class="content_blog clearfix">
                                        <span class="post-time">
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                        <h3>
                                            <a href="/nhung-ai-nen-dung-mat-ong-thuong-xuyen" title="Những ai thì nên dùng mật ong thường xuyên?">Những ai thì nên dùng mật ong thường xuyên?</a>
                                        </h3>
                                        <div class="summary_blog">
                                            Những ai nên dùng mật ong? Mật ong là thực phẩm chứa nhiều công dụng tốt cho làn da, đường tiêu hóa. Nó còn được xem như một “vị thuốc tự nhiên” gi...
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-12 col-lg-6 col-xl-4">
                                <article class="item_blog_base clearfix">
                                    <a class="thumb" href="/do-ngot-cua-mat-ong-vi-sao-lai-khac-nhau" title="Độ ngọt của mật ong – vì sao lại khác nhau?">
                                        <img src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-9.jpg?v=1669712045017" data-src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-9.jpg?v=1669712045017" alt="Độ ngọt của mật ong – vì sao lại khác nhau?" class="lazyload img-responsive loaded">
                                    </a>
                                    <div class="content_blog clearfix">
                                        <span class="post-time">
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                        <h3>
                                            <a href="/do-ngot-cua-mat-ong-vi-sao-lai-khac-nhau" title="Độ ngọt của mật ong – vì sao lại khác nhau?">Độ ngọt của mật ong – vì sao lại khác nhau?</a>
                                        </h3>
                                        <div class="summary_blog">
                                            Độ ngọt của mật ong cũng là một chủ đề gây tranh cãi. Một số loại ngọt gắt trong khi một số khác ngọt dịu.
                                            Tại sao mật ong ngọt?
                                            Mật ong ngọt là ...
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 col-12 col-lg-6 col-xl-4">
                                <article class="item_blog_base clearfix">
                                    <a class="thumb" href="/bao-quan-mat-ong-trong-bao-lau-va-nhu-the-nao" title="Bảo quản mật ong trong bao lâu và như thế nào?">
                                        <img src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-2.jpg?v=1669711398100" data-src="https://bizweb.dktcdn.net/100/472/304/articles/wallpaperflare-com-wallpaper-2.jpg?v=1669711398100" alt="Bảo quản mật ong trong bao lâu và như thế nào?" class="lazyload img-responsive loaded">
                                    </a>
                                    <div class="content_blog clearfix">
                                        <span class="post-time">
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                        <h3>
                                            <a href="/bao-quan-mat-ong-trong-bao-lau-va-nhu-the-nao" title="Bảo quản mật ong trong bao lâu và như thế nào?">Bảo quản mật ong trong bao lâu và như thế nào?</a>
                                        </h3>

                                        <div class="summary_blog">
                                            Bảo quản mật ong bao lâu để có thể giữ nguyên hương vị và giá trị của nó? Bạn phải làm gì khi mở nút chai hay hũ? Điều này phụ thuộc vào chất lượng...
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="text-xs-right pagenav section clearfix">
                    </div>
                </div>
                <div class=" col-lg-3 col-md-12 col-12 right-content">
                    <aside class="aside-item sidebar-category collection-category clear-fix">
                        <div class="aside-title">
                            <h2><span>Danh mục sản phẩm<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="fa fa-down-arrow"><path d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"></path></svg></span></h2>
                        </div>
                        <div class="aside-content clearfix">
                            <nav class="nav-category navbar-toggleable-md">
                                <ul class="nav navbar-pills">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">
                                            Trang chủ
                                        </a>
                                    </li>
                                    <li class="nav-item current">
                                        <a href="/SanPham/all" class="nav-link">
                                            Sản phẩm
                                        </a>
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="fa-plus svg-inline--fa fa-angle-down fa-w-10"><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" class=""></path></svg>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/SanPham/mat_ong_nhap_khau">
                                                    Mật ong nhập khẩu
                                                </a>
                                            </li>
                                            <li class="dropdown-submenu nav-item">
                                                <a class="nav-link" href="/SanPham/mat_ong_rung">
                                                    Mật ong rừng
                                                </a>
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="fa-plus svg-inline--fa fa-angle-down fa-w-10"><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z" class=""></path></svg>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item lv3">
                                                        <a class="nav-link" href="/SanPham/mat_ong_rung_nhiet_doi">
                                                            Mật ong rừng nhiệt đới
                                                        </a>
                                                    </li>
                                                    <li class="nav-item lv3">
                                                        <a class="nav-link" href="/SanPham/mat_ong_rung_hoa">
                                                            Mật ong rừng hoa
                                                        </a>
                                                    </li>
                                                    <li class="nav-item lv3">
                                                        <a class="nav-link" href="/SanPham/mat_ong_rung_ngap_man">
                                                            Mật ong rừng nhập mặn
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/SanPham/mat_ong_hoa">
                                                    Mật ong hoa
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/SanPham/mat_ong_rung">
                                                    Mật ong thiên nhiên
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/SanPham/mat_ong_nguyen_chat">
                                                    Mật ong nguyên chất
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/TinTuc/blog">
                                            Tin tức
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/LienHe/contact">
                                            Liên hệ
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/GioiThieu/introduce">
                                            Giới thiệu
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/CamNang/handbook">
                                            Cẩm nang
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </aside>
                    <div class="blog-aside aside-item blog-aside-article">
                        <div class="aside-title">
                            <h2>
                                <a href="tin-tuc" title="Chủ đề hot">Chủ đề hot</a>
                            </h2>
                        </div>
                        <div class="aside-content-article aside-content">
                            <div class="blog-list blog-image-list">
                                <div class="loop-blog clearfix">
                                    <div class="thumb-left">
                                        <a href="/mat-ong-rung-va-mat-ong-nuoi-loai-nao-tot-hon" title="Mật ong rừng và mật ong nuôi loại nào tốt hơn?">
                                            <img class="lazyload" src="//bizweb.dktcdn.net/thumb/small/100/472/304/articles/wallpaperflare-com-wallpaper-7.jpg?v=1669711748507" data-src="//bizweb.dktcdn.net/thumb/small/100/472/304/articles/wallpaperflare-com-wallpaper-7.jpg?v=1669711748507" alt="Mật ong rừng và mật ong nuôi loại nào tốt hơn?">
                                        </a>
                                    </div>
                                    <div class="name-right">
                                        <h3><a href="/mat-ong-rung-va-mat-ong-nuoi-loai-nao-tot-hon" title="Mật ong rừng và mật ong nuôi loại nào tốt hơn?">Mật ong rừng và mật ong nuôi loại nào tốt hơn?</a></h3>
                                        <span class="post-time">
                                            <svg class="icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendaricon"></use> </svg>
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                    </div>
                                </div>
                                <div class="loop-blog clearfix">
                                    <div class="thumb-left">
                                        <a href="/tac-dung-cua-mat-ong-chin-doi-voi-suc-khoe" title="Tác dụng đến ko ngờ của mật ong chín đối với sức khỏe">
                                            <img class="lazyload" src="//bizweb.dktcdn.net/thumb/small/100/472/304/articles/wallpaperflare-com-wallpaper-12.jpg?v=1669711557603" data-src="//bizweb.dktcdn.net/thumb/small/100/472/304/articles/wallpaperflare-com-wallpaper-12.jpg?v=1669711557603" alt="Tác dụng đến ko ngờ của mật ong chín đối với sức khỏe">
                                        </a>
                                    </div>
                                    <div class="name-right">
                                        <h3><a href="/tac-dung-cua-mat-ong-chin-doi-voi-suc-khoe" title="Tác dụng đến ko ngờ của mật ong chín đối với sức khỏe">Tác dụng đến ko ngờ của mật ong chín đối với sức khỏe</a></h3>
                                        <span class="post-time">
                                            <svg class="icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendaricon"></use> </svg>
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                    </div>
                                </div>
                                <div class="loop-blog clearfix">
                                    <div class="thumb-left">
                                        <a href="/cong-dung-va-huong-dan-dung-mat-ong-dung-cach" title="Công dụng và hướng dẫn dùng mật ong đúng cách">
                                            <img class="lazyload" src="//bizweb.dktcdn.net/thumb/small/100/472/304/articles/wallpaperflare-com-wallpaper.jpg?v=1669709493977" data-src="//bizweb.dktcdn.net/thumb/small/100/472/304/articles/wallpaperflare-com-wallpaper.jpg?v=1669709493977" alt="Công dụng và hướng dẫn dùng mật ong đúng cách">
                                        </a>
                                    </div>
                                    <div class="name-right">
                                        <h3><a href="/cong-dung-va-huong-dan-dung-mat-ong-dung-cach" title="Công dụng và hướng dẫn dùng mật ong đúng cách">Công dụng và hướng dẫn dùng mật ong đúng cách</a></h3>
                                        <span class="post-time">
                                            <svg class="icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendaricon"></use> </svg>
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                    </div>
                                </div>
                                <div class="loop-blog clearfix">
                                    <div class="thumb-left">
                                        <a href="/nhung-ai-nen-dung-mat-ong-thuong-xuyen" title="Những ai thì nên dùng mật ong thường xuyên?">
                                            <img class="lazyload" src="//bizweb.dktcdn.net/thumb/small/100/472/304/articles/wallpaperflare-com-wallpaper-13.jpg?v=1669712533677" data-src="//bizweb.dktcdn.net/thumb/small/100/472/304/articles/wallpaperflare-com-wallpaper-13.jpg?v=1669712533677" alt="Những ai thì nên dùng mật ong thường xuyên?">
                                        </a>
                                    </div>
                                    <div class="name-right">
                                        <h3><a href="/nhung-ai-nen-dung-mat-ong-thuong-xuyen" title="Những ai thì nên dùng mật ong thường xuyên?">Những ai thì nên dùng mật ong thường xuyên?</a></h3>
                                        <span class="post-time">
                                            <svg class="icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendaricon"></use> </svg>
                                            Thứ Ba,
                                            5/9/2023
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

