
@{
    ViewBag.Title = "Mật Ong Hoa Sâm Ngọc Linh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Assets/Css/product_style.css">

}
<main class="wrapperMain_content">
    <nav class="bread-crumb clearfix">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li>
                    <a class="changeurl" href="/mat-ong-thien-nhien"><span>Mật ong thiên nhiên</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li><strong><span>Mật Ong Hoa Sâm Ngọc Linh</span></strong></li>
                <li>
                </li>
            </ul>
        </div>
    </nav>
    <section class="product details-main" itemscope="" itemtype="https://schema.org/Product">
        <meta itemprop="category" content="Mật ong thiên nhiên">
        <meta itemprop="url" content="//template-honey-bee.mysapo.net/mat-ong-hoa-sam-ngoc-linh">
        <meta itemprop="name" content="Mật Ong Hoa Sâm Ngọc Linh">
        <meta itemprop="image" content="http://bizweb.dktcdn.net/thumb/grande/100/472/304/products/9350631000056.jpg?v=1669707636973">
        <meta itemprop="description" content="
                        Uống mật ong vào buổi sáng giúp làm sạch, bổ sung năng lượng cho dạ dày.
                        Uống trước khi đi ngủ giúp an thần, dễ ngủ.
                        Uống mật trước khi ăn 30 phút giúp tốt cho hệ tiêu hóa.
                        Uống sau ăn thúc đẩy hệ tiêu hóa làm việc.
                        Mỗi lần uống nên uống với liều lượng phù hợp.">
        <div class="d-none hidden" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
            <div class="inventory_quantity hidden" itemscope="" itemtype="http://schema.org/ItemAvailability">
                <span class="a-stock" itemprop="supersededBy"><span class="a-stock">Còn hàng</span></span>
            </div>
            <link itemprop="availability" href="http://schema.org/InStock">
            <meta itemprop="priceCurrency" content="VND">
            <meta itemprop="price" content="1000000">
            <meta itemprop="url" content="https://template-honey-bee.mysapo.net/mat-ong-hoa-sam-ngoc-linh">
            <span itemprop="UnitPriceSpecification" itemscope="" itemtype="https://schema.org/Downpayment">
                <meta itemprop="priceType" content="1000000">
            </span>
            <span itemprop="UnitPriceSpecification" itemscope="" itemtype="https://schema.org/Downpayment">
                <meta itemprop="priceSpecification" content="1500000">
            </span>
            <meta itemprop="priceValidUntil" content="2099-01-01">
        </div>
        <div class="d-none hidden" id="https://template-honey-bee.mysapo.net" itemprop="seller" itemtype="http://schema.org/Organization" itemscope="">
            <meta itemprop="name" content="Template Honey Bee">
            <meta itemprop="url" content="https://template-honey-bee.mysapo.net">
            <meta itemprop="logo" content="http://bizweb.dktcdn.net/100/472/304/themes/887048/assets/logo.png?1670581281488">
        </div>
        <div class="container">
            <div class="row">
                <div class="product-detail-left product-images col-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="product-image-detail clearfix">

                        <div class="col_large_default large-image">
                            <div class="swiper-container gallery-top margin-bottom-10 swiper-container-initialized swiper-container-horizontal swiper-container-free-mode">
                                <div class="swiper-wrapper" id="swiper-wrapper-1ce3af5f7e952345" aria-live="polite">
                                    <a class="swiper-slide swiper-slide-active" href="//bizweb.dktcdn.net/thumb/1024x1024/100/472/304/products/9350631000056.jpg?v=1669707636973" title="Bấm vào để xem thư viện ảnh Mật Ong Hoa Sâm Ngọc Linh" role="group" aria-label="1 / 5" style="width: 530px; margin-right: 10px;">
                                        <img src="//bizweb.dktcdn.net/thumb/large/100/472/304/products/9350631000056.jpg?v=1669707636973"data-src="//bizweb.dktcdn.net/thumb/large/100/472/304/products/9350631000056.jpg?v=1669707636973" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/9350631000056.jpg?v=1669707636973" class="lazyload loaded" data-was-processed="true">
                                    </a>

                                    <a class="swiper-slide swiper-slide-next" href="//bizweb.dktcdn.net/thumb/1024x1024/100/472/304/products/australian-manuka-honey-mgo-30-500g.jpg?v=1669708921813" title="Bấm vào để xem thư viện ảnh Mật Ong Hoa Sâm Ngọc Linh" role="group" aria-label="2 / 5" style="width: 530px; margin-right: 10px;">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="//bizweb.dktcdn.net/thumb/large/100/472/304/products/australian-manuka-honey-mgo-30-500g.jpg?v=1669708921813" alt="Mật Ong Hoa Sâm Ngọc Linh" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/australian-manuka-honey-mgo-30-500g.jpg?v=1669708921813" class="lazyload">
                                    </a>

                                    <a class="swiper-slide" href="//bizweb.dktcdn.net/thumb/1024x1024/100/472/304/products/bramwells-mgo100-manuka-honey.jpg?v=1669708921813" title="Bấm vào để xem thư viện ảnh Mật Ong Hoa Sâm Ngọc Linh" role="group" aria-label="3 / 5" style="width: 530px; margin-right: 10px;">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="//bizweb.dktcdn.net/thumb/large/100/472/304/products/bramwells-mgo100-manuka-honey.jpg?v=1669708921813" alt="Mật Ong Hoa Sâm Ngọc Linh" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/bramwells-mgo100-manuka-honey.jpg?v=1669708921813" class="lazyload">
                                    </a>

                                    <a class="swiper-slide" href="//bizweb.dktcdn.net/thumb/1024x1024/100/472/304/products/3df-800-10-1f1424d2-97db-4cea-ba6e-d3c585d47bea.jpg?v=1669708921813" title="Bấm vào để xem thư viện ảnh Mật Ong Hoa Sâm Ngọc Linh" role="group" aria-label="4 / 5" style="width: 530px; margin-right: 10px;">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="//bizweb.dktcdn.net/thumb/large/100/472/304/products/3df-800-10-1f1424d2-97db-4cea-ba6e-d3c585d47bea.jpg?v=1669708921813" alt="Mật Ong Hoa Sâm Ngọc Linh" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/3df-800-10-1f1424d2-97db-4cea-ba6e-d3c585d47bea.jpg?v=1669708921813" class="lazyload loaded">
                                    </a>

                                    <a class="swiper-slide" href="//bizweb.dktcdn.net/thumb/1024x1024/100/472/304/products/7-d32481ff-654d-414f-9782-34420d36363b.png?v=1669708921813" title="Bấm vào để xem thư viện ảnh Mật Ong Hoa Sâm Ngọc Linh" role="group" aria-label="5 / 5" style="width: 530px; margin-right: 10px;">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="//bizweb.dktcdn.net/thumb/large/100/472/304/products/7-d32481ff-654d-414f-9782-34420d36363b.png?v=1669708921813" alt="Mật Ong Hoa Sâm Ngọc Linh" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/7-d32481ff-654d-414f-9782-34420d36363b.png?v=1669708921813" class="lazyload loaded">
                                    </a>

                                </div>
                                <button class="carousel-control-prev" type="button">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </div>

                        <div class="thumb_product_details clearfix">
                            <div class="swiper-container gallery-thumbs swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
                                <div class="swiper-wrapper" id="swiper-wrapper-251c721a441062eab" aria-live="polite">

                                    <div class="item swiper-slide swiper-slide-active swiper-slide-thumb-active" data-hash="0" role="group" aria-label="1 / 5" style="width: 71px; margin-right: 30px;">
                                        <div class="thumbs">
                                            <img src="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/9350631000056.jpg?v=1669707636973" alt="Mật Ong Hoa Sâm Ngọc Linh" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/9350631000056.jpg?v=1669707636973" class="lazyload loaded">
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide-next" data-hash="1" role="group" aria-label="2 / 5" style="width: 71px; margin-right: 30px;">
                                        <div class="thumbs">
                                            <img src="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/australian-manuka-honey-mgo-30-500g.jpg?v=1669708921813" alt="Mật Ong Hoa Sâm Ngọc Linh" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/australian-manuka-honey-mgo-30-500g.jpg?v=1669708921813" class="lazyload loaded">
                                        </div>
                                    </div>
                                    <div class="swiper-slide" data-hash="2" role="group" aria-label="3 / 5" style="width: 71px; margin-right: 30px;">
                                        <div class="thumbs">
                                            <img src="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/bramwells-mgo100-manuka-honey.jpg?v=1669708921813" alt="Mật Ong Hoa Sâm Ngọc Linh" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/bramwells-mgo100-manuka-honey.jpg?v=1669708921813" class="lazyload loaded">
                                        </div>
                                    </div>
                                    <div class="swiper-slide" data-hash="3" role="group" aria-label="4 / 5" style="width: 71px; margin-right: 30px;">
                                        <div class="thumbs">
                                            <img src="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/3df-800-10-1f1424d2-97db-4cea-ba6e-d3c585d47bea.jpg?v=1669708921813" alt="Mật Ong Hoa Sâm Ngọc Linh" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/3df-800-10-1f1424d2-97db-4cea-ba6e-d3c585d47bea.jpg?v=1669708921813" class="lazyload loaded">
                                        </div>
                                    </div>
                                    <div class="swiper-slide" data-hash="4" role="group" aria-label="5 / 5" style="width: 71px; margin-right: 30px;">
                                        <div class="thumbs">
                                            <img src="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/7-d32481ff-654d-414f-9782-34420d36363b.png?v=1669708921813" alt="Mật Ong Hoa Sâm Ngọc Linh" data-image="//bizweb.dktcdn.net/thumb/medium/100/472/304/products/7-d32481ff-654d-414f-9782-34420d36363b.png?v=1669708921813" class="lazyload loaded">
                                        </div>
                                    </div>
                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                            <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-869cd935a4404b2b" aria-disabled="true"><svg class="icon"> <use xlink:href="#previcon"></use> </svg></div>
                            <div class="swiper-button-next swiper-button-disabled" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-869cd935a4404b2b" aria-disabled="true"><svg class="icon"> <use xlink:href="#nexticon"></use> </svg></div>
                        </div>


                    </div>

                </div>
                <div class="col-12 col-md-12 col-lg-6 col-xl-6 details-pro">
                    <div class="box_details_product">
                        <h1 class="title-product">Mật Ong Hoa Sâm Ngọc Linh</h1>
                        <div class="group-status hidden">
                            <div class="first_status status_2">
                                Tình trạng:

                                <div class="inventory_quantity">

                                    <span class="a-stock status_name a2"><span class="a-stock">Còn hàng</span></span>

                                </div>
                            </div>
                        </div>

                        <div class="price-box clearfix">

                            <span class="old-price">
                                <del class="price product-price-old">1.500.000₫</del>
                            </span> <!-- Giá gốc -->
                            <span class="special-price">
                                <span class="price product-price">1.000.000₫</span>
                            </span> <!-- Giá Khuyến mại -->
                            <span class="save-price">
                                <span class="price product-price-save">-500.000₫</span>
                            </span>

                        </div>
                        <div class="product-summary">

                            <ul>
                                <li>Uống mật ong vào buổi sáng giúp làm sạch, bổ sung năng lượng cho dạ dày.</li>
                                <li>Uống trước khi đi ngủ giúp an thần, dễ ngủ.</li>
                                <li>
                                    Uống mật trước khi ăn 30 phút giúp tốt cho hệ tiêu hó...

                                </li>
                            </ul>
                        </div>

                        <div class="service-product">





                            <div class="item">
                                <div class="icon">
                                    <img src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/icon_service_product_1.svg?1670581281488" alt="Giao hàng toàn quốc">
                                </div>
                                <div class="info">
                                    <h3>
                                        Giao hàng toàn quốc
                                    </h3>
                                </div>
                            </div>






                            <div class="item">
                                <div class="icon">
                                    <img src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/icon_service_product_2.svg?1670581281488" alt="Thanh toán khi nhận hàng">
                                </div>
                                <div class="info">
                                    <h3>
                                        Thanh toán khi nhận hàng
                                    </h3>
                                </div>
                            </div>






                            <div class="item">
                                <div class="icon">
                                    <img src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/icon_service_product_3.svg?1670581281488" alt="Cam kết đổi trả hàng miễn phí">
                                </div>
                                <div class="info">
                                    <h3>
                                        Cam kết đổi trả hàng miễn phí
                                    </h3>
                                </div>
                            </div>






                            <div class="item">
                                <div class="icon">
                                    <img src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/icon_service_product_4.svg?1670581281488" alt="Cam kết chính hãng">
                                </div>
                                <div class="info">
                                    <h3>
                                        Cam kết chính hãng
                                    </h3>
                                </div>
                            </div>


                        </div>

                        <form enctype="multipart/form-data" id="add-to-cart-form" data-cart-form="" action="/cart/add" method="post" class="wishItem">
                            <div class="form-product">

                                <div class="select-swatch">























                                    <div class=" swatch clearfix" data-option-index="0">
                                        <div class="options-title">Kích thước</div>







                                        <div data-value="200g" class="swatch-element 200g available">

                                            <input id="swatch-0-200g" type="radio" name="option-0" value="200g" checked="">

                                            <label title="200g" for="swatch-0-200g">
                                                200g
                                            </label>

                                        </div>


                                        <script>
                                            jQuery('.swatch[data-option-index="0"] .200g').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                                        </script>







                                        <div data-value="500g" class="swatch-element 500g available">

                                            <input id="swatch-0-500g" type="radio" name="option-0" value="500g">

                                            <label title="500g" for="swatch-0-500g">
                                                500g
                                            </label>

                                        </div>


                                        <script>
                                            jQuery('.swatch[data-option-index="0"] .500g').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
                                        </script>


                                    </div>





                                </div>

                                <div class="box-variant clearfix  d-none ">

                                    <div class="selector-wrapper" style="text-align: left; margin-bottom: 15px;"><label>Kích thước</label><select class="single-option-selector" data-option="option1" id="product-selectors-option-0"><option value="200g">200g</option><option value="500g">500g</option></select></div><select id="product-selectors" class="form-control form-control-lg" name="variantId" style="display:none">

                                        <option selected="selected" value="76948955">200g - 1.000.000₫</option>

                                        <option value="76948956">500g - 2.500.000₫</option>

                                    </select>

                                </div>
                                <div class="clearfix from-action-addcart">
                                    <div class="clearfix custom-btn-number">
                                        <label>Số lượng:</label>
                                        <div class="custom custom-btn-numbers clearfix input_number_product">
                                            <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" class="btn-minus btn-cts" type="button">–</button>
                                            <input aria-label="Số lượng" type="text" class="qty input-text" id="qty" name="quantity" size="4" value="1" maxlength="3" onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" onchange="if(this.value == 0)this.value=1;">
                                            <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN(qty)) result.value++;return false;" class="btn-plus btn-cts" type="button">+</button>
                                        </div>
                                        <div class="vd">



                                            <span class="vend_c">Còn hàng</span>



                                        </div>
                                    </div>
                                    <div class="btn-mua clearfix">

                                        <button type="submit" data-role="addtocart" class="btn btn-lg btn-gray btn-cart btn_buy add_to_cart"><span class="text_1">Thêm giỏ hàng</span></button>
                                        <button type="button" class="btn_buynow btn_base btn-buy-now">
                                            <span class="text_1">Mua ngay</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12">
                    <div class="product-tab e-tabs not-dqtab">
                        <ul class="tabs tabs-title clearfix">
                            <li class="tab-link current" data-tab="tab-1">
                                <span>Mô tả </span>
                            </li>
                            <li class="tab-link" data-tab="tab-2">
                                <span>Tab tùy chỉnh</span>
                            </li>
                        </ul>
                        <div id="tab-1" class="tab-content content_extab current">
                            <div class="rte product_getcontent">
                                <p><strong>Đặc điểm sản phẩm</strong></p>
                                <p>Ong hút mật của hoa sâm Ngọc Linh và các loại dược liệu quý khác nên mật thơm, mùi vị có chút khác biệt so với các loại mật ong khác.</p>
                                <p><strong>Công dụng sản phẩm</strong></p>
                                <p>
                                    +Sâm Ngọc Linh là một phương thuốc quý hiếm, do đó mật ong hoa sâm Ngọc Linh hay mật ong đắng ngâm với sâm Ngọc Linh làm hàm lượng dinh dưỡng tăng lên tốt đa.<br>
                                    +Vì thế nên mật ong hoa sâm Ngọc Linh rất quý hiếm, có tiền cũng chưa chắc là mua đúng hàng thật.
                                </p>
                                <p><strong>Bảo quản sản phẩm</strong></p>
                                <p>Để mật ong ở nơi thoáng mát, không có ánh sáng chiếu vào và không nên để mật ong trong tủ lạnh.</p>
                                <ul>
                                    <li>Là loại mật cực kỳ quý hiếm, được khai thác tại vùng núi Ngọc Linh – Huyện Đăk Glei, Tỉnh Kon Tum. Sở dĩ mật ong rừng này được gọi là Mật Ong Đắng vì ong chuyên hút mật của&nbsp;Hoa Sâm Ngọc Linh&nbsp;và một số cây dược liệu quý khác tại núi Ngọc Linh nên mật ngoài vị ngọt đặc trưng của mật ong rừng còn có vị hơi đắng thanh ngay khi nếm, màu sậm.&nbsp;</li>
                                    <li>Bảo quản:&nbsp;Để mật ong&nbsp;ở nơi thoáng mát, không có ánh sáng chiếu vào và&nbsp;không nên để mật ong trong tủ lạnh.</li>
                                    <li>Hạn sử dụng: 2 năm kể từ ngày sản xuất được in trên bao bì.</li>
                                </ul>
                                <p><strong>Hạn sử dụng</strong></p>
                                <p>2 năm kể từ ngày sản xuất được in trên bao bì.</p>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-content content_extab">
                            <div class="rte">

                                Đây là tab tuỳ chỉnh

                            </div>
                        </div>
                    </div>
                    <div class="section-related-product">




                        <div class="section_prd_feature">
                            <div class="title_module_main">
                                <h2 class="h2">
                                    <a href="/mat-ong-thien-nhien" title="Sản phẩm liên quan">Sản phẩm liên quan</a>
                                </h2>
                            </div>

                            <div class="box_related">
                                <div class="swiper-container swiper_related swiper-container-initialized swiper-container-horizontal">
                                    <div class="swiper-wrapper" id="swiper-wrapper-cdc4f39e64a5e83d" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">


                                        <div class="item swiper-slide swiper-slide-active" role="group" aria-label="1 / 5" style="width: 273.75px; margin-right: 15px;">
                                            <div class="item_product_main">




                                                <form action="/cart/add" method="post" class="variants product-action wishItem" data-cart-form="" data-id="product-actions-28669925" enctype="multipart/form-data">
                                                    <div class="product-thumbnail">
                                                        <a class="image_thumb" href="/mat-ong-rung-mat-khoai" title="Mật ong rừng mật khoái" style="height: 274px;">
                                                            <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="https://bizweb.dktcdn.net/100/472/304/products/14.png?v=1669707975000" alt="Mật ong rừng mật khoái" class="lazyload img-responsive center-block">
                                                        </a>

                                                        <div class="action-cart">
                                                            <input type="hidden" name="variantId" value="76949082">
                                                            <button class="btn-buy btn-left btn-views add_to_cart " title="Mua ngay">
                                                                Mua ngay
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-product">
                                                        <h3 class="product-name"><a href="/mat-ong-rung-mat-khoai" title="Mật ong rừng mật khoái">Mật ong rừng mật khoái</a></h3>
                                                        <div class="price-box">
                                                            500.000₫
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>





                                        <div class="item swiper-slide swiper-slide-next" role="group" aria-label="2 / 5" style="width: 273.75px; margin-right: 15px;">
                                            <div class="item_product_main">



                                                <form action="/cart/add" method="post" class="variants product-action wishItem" data-cart-form="" data-id="product-actions-28669659" enctype="multipart/form-data">
                                                    <div class="product-thumbnail">
                                                        <a class="image_thumb" href="/mat-ong-chin-hoa-nhan-co-thu" title="Mật ong chín Hoa Nhãn Cổ Thụ" style="height: 274px;">
                                                            <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="https://bizweb.dktcdn.net/100/472/304/products/3df-800-10.jpg?v=1669706882000" alt="Mật ong chín Hoa Nhãn Cổ Thụ" class="lazyload img-responsive center-block">
                                                        </a>

                                                        <div class="action-cart">
                                                            <input type="hidden" name="variantId" value="76948513">
                                                            <button class="btn-buy btn-left btn-views add_to_cart " title="Mua ngay">
                                                                Mua ngay
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-product">
                                                        <h3 class="product-name"><a href="/mat-ong-chin-hoa-nhan-co-thu" title="Mật ong chín Hoa Nhãn Cổ Thụ">Mật ong chín Hoa Nhãn Cổ Thụ</a></h3>
                                                        <div class="price-box">
                                                            <span class="discount">
                                                                -
                                                                25%
                                                            </span>
                                                            <span class="price">150.000₫</span>
                                                            <span class="compare-price">200.000₫</span>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>



                                        <div class="item swiper-slide" role="group" aria-label="3 / 5" style="width: 273.75px; margin-right: 15px;">
                                            <div class="item_product_main">



                                                <form action="/cart/add" method="post" class="variants product-action wishItem" data-cart-form="" data-id="product-actions-28669556" enctype="multipart/form-data">
                                                    <div class="product-thumbnail">
                                                        <a class="image_thumb" href="/mat-ong-hoa-bac-ha" title="Mật ong Hoa Bạc Hà" style="height: 274px;">
                                                            <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="https://bizweb.dktcdn.net/100/472/304/products/11.png?v=1669706278000" alt="Mật ong Hoa Bạc Hà" class="lazyload img-responsive center-block">
                                                        </a>

                                                        <div class="action-cart">
                                                            <input class="hidden" type="hidden" name="variantId" value="76948333">
                                                            <button class="btn btn-cart btn-left  btn btn-views left-to option-choice" title="Tùy chọn" type="button" onclick="window.location.href='/mat-ong-hoa-bac-ha'">
                                                                Tùy chọn
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-product">
                                                        <h3 class="product-name"><a href="/mat-ong-hoa-bac-ha" title="Mật ong Hoa Bạc Hà">Mật ong Hoa Bạc Hà</a></h3>
                                                        <div class="price-box">
                                                            <span class="discount">
                                                                -
                                                                50%
                                                            </span>
                                                            <span class="price">350.000₫</span>
                                                            <span class="compare-price">700.000₫</span>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>



                                        <div class="item swiper-slide" role="group" aria-label="4 / 5" style="width: 273.75px; margin-right: 15px;">
                                            <div class="item_product_main">



                                                <form action="/cart/add" method="post" class="variants product-action wishItem" data-cart-form="" data-id="product-actions-28669509" enctype="multipart/form-data">
                                                    <div class="product-thumbnail">
                                                        <a class="image_thumb" href="/mat-ong-tinh-nghe" title="Mật ong Tinh nghệ" style="height: 274px;">
                                                            <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="https://bizweb.dktcdn.net/100/472/304/products/8.png?v=1669705941000" alt="Mật ong Tinh nghệ" class="lazyload img-responsive center-block">
                                                        </a>

                                                        <div class="action-cart">
                                                            <input class="hidden" type="hidden" name="variantId" value="76948242">
                                                            <button class="btn btn-cart btn-left  btn btn-views left-to option-choice" title="Tùy chọn" type="button" onclick="window.location.href='/mat-ong-tinh-nghe'">
                                                                Tùy chọn
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-product">
                                                        <h3 class="product-name"><a href="/mat-ong-tinh-nghe" title="Mật ong Tinh nghệ">Mật ong Tinh nghệ</a></h3>
                                                        <div class="price-box">
                                                            <span class="discount">
                                                                -
                                                                30%
                                                            </span>
                                                            <span class="price">700.000₫</span>
                                                            <span class="compare-price">1.000.000₫</span>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>



                                        <div class="item swiper-slide" role="group" aria-label="5 / 5" style="width: 273.75px; margin-right: 15px;">
                                            <div class="item_product_main">




                                                <form action="/cart/add" method="post" class="variants product-action wishItem" data-cart-form="" data-id="product-actions-28669438" enctype="multipart/form-data">
                                                    <div class="product-thumbnail">
                                                        <a class="image_thumb" href="/mat-ong-chin-hoa-xuyen-chi" title="Mật ong chín Hoa Xuyến Chi" style="height: 274px;">
                                                            <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" data-src="https://bizweb.dktcdn.net/100/472/304/products/4.png?v=1669705551000" alt="Mật ong chín Hoa Xuyến Chi" class="lazyload img-responsive center-block">
                                                        </a>

                                                        <div class="action-cart">
                                                            <input class="hidden" type="hidden" name="variantId" value="76948080">
                                                            <button class="btn btn-cart btn-left  btn btn-views left-to option-choice" title="Tùy chọn" type="button" onclick="window.location.href='/mat-ong-chin-hoa-xuyen-chi'">
                                                                Tùy chọn
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="info-product">
                                                        <h3 class="product-name"><a href="/mat-ong-chin-hoa-xuyen-chi" title="Mật ong chín Hoa Xuyến Chi">Mật ong chín Hoa Xuyến Chi</a></h3>
                                                        <div class="price-box">
                                                            <span class="discount">
                                                                -
                                                                50%
                                                            </span>
                                                            <span class="price">300.000₫</span>
                                                            <span class="compare-price">600.000₫</span>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                                <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-cdc4f39e64a5e83d" aria-disabled="true"><svg class="icon"> <use xlink:href="#previcon"></use> </svg></div>
                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-cdc4f39e64a5e83d" aria-disabled="false"><svg class="icon"> <use xlink:href="#nexticon"></use> </svg></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/color-convert.js?1670581281488"></script>
</main>

