@using PagedList.Mvc;
@using PagedList;
@model IPagedList<WebSiteBanHang.Models.Product>
@{
    ViewBag.Title = "Mật ong hoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Assets/Css/main_collections.css">
    <link rel="stylesheet" href="~/Assets/Css/collections_style.css">
    <link rel="stylesheet" href="~/Assets/Css/sidebar_style.css">
}

<main class="wrapperMain_content">
    <nav class="bread-crumb clearfix">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li><strong><span>Mật ong rừng hoa</span></strong></li>
            </ul>
        </div>
    </nav>
    <link rel="preload" as="script" href="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/search_filter.js?1670581281488">
    <script src="//bizweb.dktcdn.net/100/472/304/themes/887048/assets/search_filter.js?1670581281488" type="text/javascript"></script>
    <div class="section wrap_background">
        <div class="container ">
            <div class="bg_collection">
                <div class="row">
                    @Html.Partial("ProductSidebar")

                    <div class="main_container collection right-content col-lg-9 col-md-12 col-sm-12">
                        <div class="sortPagiBar">
                            <div class="row">
                                <div class="col-xl-8 col-md-6 col-12">
                                    <h1 class="collectiontitle">Mật ong rừng hoa</h1>
                                </div>
                                <div class="col-xl-4 col-md-6 col-12">

                                    <div class="sort-cate clearfix">
                                        <div class="sort-by">
                                            <label class="left">Sắp xếp: </label>
                                            <select name="sortBy" id="sortBy" class="selectBox">
                                                <option selected="" value="default">Mặc định</option>
                                                <option value="alpha-asc">A → Z</option>
                                                <option value="alpha-desc">Z → A</option>
                                                <option value="price-asc">Giá tăng dần</option>
                                                <option value="price-desc">Giá giảm dần</option>
                                                <option value="created-desc">Hàng mới nhất</option>
                                                <option value="created-asc">Hàng cũ nhất</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $("#sortBy").change(function () {
                                    var selectedOption = $(this).val();
                                    sortProductsByCriteria(selectedOption);

                                });

                                function sortProductsByCriteria(sortBy) {
                                    $.ajax({
                                        url: '@Url.Action("SortProducts", "SanPham")',
                                        type: 'GET',
                                        data: { sortBy: sortBy },
                                        dataType: 'html',
                                        success: function (data) {
                                            $("#PartialProductList").html(data);
                                        },
                                        error: function () {
                                            alert('Đã xảy ra lỗi. Vui lòng thử lại sau.');
                                        }
                                    });
                                }
                            });
                        </script>
                        <div class="category-products products">


                            <section class="products-view view-grid products-view-grid collection_reponsive">
                                @Html.Partial("PartialProductList")

                            </section>
                            <div class="section pagenav ">
                                <nav class="clearfix relative nav_pagi w_100">
                                    <ul class="pagination clearfix">
                                        @Html.PagedListPager(Model, page => Url.Action("all", new { page }))
                                    </ul>
                                </nav>
                            </div>


                        </div>

                        <div id="open-filters" class="open-filters d-lg-none d-xl-none">
                            <svg class="i-bar-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M3.853 54.87C10.47 40.9 24.54 32 40 32H472C487.5 32 501.5 40.9 508.1 54.87C514.8 68.84 512.7 85.37 502.1 97.33L320 320.9V448C320 460.1 313.2 471.2 302.3 476.6C291.5 482 278.5 480.9 268.8 473.6L204.8 425.6C196.7 419.6 192 410.1 192 400V320.9L9.042 97.33C-.745 85.37-2.765 68.84 3.854 54.87L3.853 54.87z"></path></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" x="0" y="0" viewBox="0 0 492 492" style="enable-background:new 0 0 14 14" xml:space="preserve" class="i-close-white"><g xmlns="http://www.w3.org/2000/svg"><path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872    c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872    c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052    L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116    c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952    c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116    c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z" fill="#ffffff" data-original="#000000" style="" class=""></path></g></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>

        var colId = 3041015;

        var selectedViewData = "data";
    </script>
</main>

