
@{
    ViewBag.Title = "introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Assets/Css/style.css">
}
<main class="wrapperMain_content">
    <nav class="bread-crumb clearfix">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li><strong><span>Giới thiệu</span></strong></li>
            </ul>
        </div>
    </nav>
    <section class="page wrap_background">
        <div class="container">
            <div class="wrap_background_aside padding-top-15 margin-bottom-40">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h1 class="title-block-page">Giới thiệu</h1>
                        <div class="content-page rte">
                            <h2><strong>Thương Hiệu Honey Bee</strong></h2>
                            <p>Công ty mật ong Honey Bee&nbsp;Chuyên cung cấp các sản phẩ sáp ong nguyên chất<em><a href="https://sapong.com.vn/mat-ong-tay-nguyen.html">&nbsp;</a></em>tại Việt Nam. Chúng tôi tự hào là đơn vị đi đầu trong lĩnh vực sáp ong với phương châm bán hàng chất lượng uy tín, giá cả tốt nhất, Công ty mật Ong Honey Bee là một trong những công ty hàng đầu cung cấp các sản phẩm nguyên liệu tự nhiên từ Ong Rừng, Hơn 20 năm cung cấp cho các đại lý trong và ngoài nước sản phẩm Sáp Ong Nguyên Chất độc quyền chỉ có của Honey Bee. Quý khách có nhu cầu mua các sản phẩm tự nhiên nguyên chất liên hệ ngay với công ty để được tư vấn sản phẩm nguyên chất 100%.</p>
                            <p>Honey Bee có chính sách giá bán buôn đặc biệt ưu đãi khi khách hàng đặt mua với số lượng tối thiểu là 30 hộp (50gr/100gr). Chúng tôi cũng có dịch vụ sản xuất bao bì riêng, theo nhu cầu của khách hàng vào mỗi dịp đặc biệt/lễ/tết</p>
                            <h2><strong>Hướng dẫn mua hàng</strong></h2>
                            <p><strong>Bước 1:</strong>&nbsp;Truy cập website và lựa chọn sản phẩm cần mua để mua hàng</p>
                            <p><strong>Bước 2:</strong>&nbsp;Click và sản phẩm muốn mua, màn hình hiển thị ra pop up với các lựa chọn sau</p>
                            <p>Nếu bạn muốn tiếp tục mua hàng: Bấm vào phần tiếp tục mua hàng để lựa chọn thêm sản phẩm vào giỏ hàng</p>
                            <p>Nếu bạn muốn xem giỏ hàng để cập nhật sản phẩm: Bấm vào xem giỏ hàng</p>
                            <p>Nếu bạn muốn đặt hàng và thanh toán cho sản phẩm này vui lòng bấm vào: Đặt hàng và thanh toán</p>
                            <p><strong>Bước 3:</strong>&nbsp;Lựa chọn thông tin tài khoản thanh toán</p>
                            <p>Nếu bạn đã có tài khoản vui lòng nhập thông tin tên đăng nhập là email và mật khẩu vào mục đã có tài khoản trên hệ thống</p>
                            <p>Nếu bạn chưa có tài khoản và muốn đăng ký tài khoản vui lòng điền các thông tin cá nhân để tiếp tục đăng ký tài khoản. Khi có tài khoản bạn sẽ dễ dàng theo dõi được đơn hàng của mình</p>
                            <p>Nếu bạn muốn mua hàng mà không cần tài khoản vui lòng nhấp chuột vào mục đặt hàng không cần tài khoản</p>
                            <p><strong>Bước 4:</strong>&nbsp;Điền các thông tin của bạn để nhận đơn hàng, lựa chọn hình thức thanh toán và vận chuyển cho đơn hàng của mình</p>
                            <p><strong>Bước 5:</strong>&nbsp;Xem lại thông tin đặt hàng, điền chú thích và gửi đơn hàng</p>
                            <p>Sau khi nhận được đơn hàng bạn gửi chúng tôi sẽ liên hệ bằng cách gọi điện lại để xác nhận lại đơn hàng và địa chỉ của bạn.</p>
                            <p>Trân trọng cảm ơn.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
